<%#= form_with(model: playlist_draft) do |form| %>
<%= form_with(model: @playlist_draft, local: true) do |form| %>
  <% if @playlist_draft.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playlist_draft.errors.count, "error") %> prohibited this playlist_draft from being saved:</h2>

      <ul>
        <% @playlist_draft.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :title, "Playlist Title" %>
    <%= form.text_field :title, { 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'Your playlist\'s title', :required => true, :class => "form-control" } %>
  </div>

  <div class="show-set-form-group">
    <%= form.fields_for :show_sets do |_| %>
<!--      TODO: The following label and number_field might be better if replaced with a + button in the final ReactJS/Vue template
            Ultimately, the purpose here is to then create that many Show sections for the user to add each Show's required details. -->
      <%= form.label :number_shows, "How many different Shows are in this playlist?" %>
      <%= form.number_field :number_shows, in: 1..5 %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
